<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agronify"
        tools:targetApi="31"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".view.activity.agro.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.hub.HubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.scan.ScanResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.scan.ScanCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.scan.ScanAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.scan.ScanDiseaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.scan.ScanRipeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.scan.ScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.edu.EduDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.edu.EduActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.agro.weather.WeatherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.OnboardActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>